body {
    color: white;
    background: url('../img/fondoPrincipal.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
}

.contenedor-pedidos {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
}

.contenedor-pedidos h1 {
    margin-bottom: 30px;
    font-size: 2em;
    color: #f0e6d2;
}

.botonera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-items: center;
    margin-bottom: 20px;
}

.boton {
    display: inline-block;
    padding: 12px 20px;
    font-size: 14px;
    background-color: #ffffffcc;
    color: #333;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 90%;
    max-width: 250px;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* sutil sombra */
}

.boton:hover {
    background-color: #d1bfa3;
    transform: scale(1.05);
}

.boton:active {
    transform: scale(1.1);
}

.boton-volver {
    margin-top: 20px;
}
